/* General body styling */
body {
  font-family: Arial, sans-serif; /* Sets a nice, readable font */
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* White background for the entire app */
}

/* Container for the entire chat application */
#app-container {
  display: flex;
  background-color: #ffffff; /* White background */
}

/* Sidebar styling */
#sidebar {
  width: 20%; /* 20% width of the viewport */
  max-width: 20vw; /* Maximum width as 20% of the viewport width */
  height: 100vh; /* Full height of the viewport */
  background-color: #ffffff; /* White background */
  padding: 20px; /* Add padding for spacing */
}

/* Sidebar content styling */
#sidebar-content {
  margin-top: 20px; /* Add margin at the top for spacing */
}

/* Chat container styling */
#chat-container {
  position: fixed; /* Fixed position */
  bottom: 0; /* Aligns to the bottom of the viewport */
  right: 0; /* Aligns to the right of the viewport */
  width: 80%; /* 80% width of the viewport */
  max-width: 80vw; /* Maximum width as 80% of the viewport width */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
  overflow: hidden; /* Hides anything outside the border-radius */
  background-color: #ffffff; /* White background */
}

/* Chat messages area styling */
#chat-messages {
  flex-grow: 1; /* Takes up all available space */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 10px;
  background-color: #ddd; /* Light grey background for the chat messages */
}

/* Styling individual messages */
.message {
  position: relative;
  margin: 10px 0; /* Increased margin for more gap between messages */
  padding: 10px;
  border-radius: 10px; /* Rounded corners for chat bubbles */
  border: 1px solid #ddd; /* Slightly darker border for each message */
  background-color: #FFF; /* Light grey background for each message */
  display: flex;
  justify-content: space-between; /* Aligns button to the right */
  align-items: center;
}

/* Heart icon container */
.like-container {
  display: flex;
  align-items: center;
}

/* Heart icon button */
.heart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Likes count */
.likes-count {
  margin-left: 0px;
}

/* Input and button container */
#input-container {
  display: flex;
  align-items: center; /* Align items vertically */
  padding: 10px;
}

/* Input box styling */
input[type="text"] {
  flex-grow: 1; /* Takes up available space */
  margin-right: 10px; /* Spacing between input and button */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Rounded corners for the input box */
}

/* Button styling */
button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF; /* Blue button color */
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

